// Main color scheme
$primary : #DCD8C0;
$secondary : #454138;
$accent-primary : #CD664D;
$accent-secondary : #fff;

//Type color variation
$type-color-primary : #454138;
$type-color-primary-100 : rgba(69, 65, 56, 8%);

$type-color-muted : rgba(69, 65, 56, 50%);

$nav-height: 100px;

$custom-gutter: 40px;

$xs: 0;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;